<script>

{% comment %} Like Ajax Code {% endcomment %}


        function AjaxLikePost(id){
        $.ajax({
            url : "/post/" + id + "/like/",
            dataType: "json",
            success : function (data) {
                    $('#post-like-count-' + id).text( data.like_count);
                    }
                });
            };

        function AjaxLikeCom(id){
        $.ajax({
            url : "/comment/" + id + "/like/",
            dataType: "json",
            success : function (data) {
                    $('#com-like-count-' + id).text( data.like_count);
                    }
                });
            };

{% comment %} Sub Ajax Code {% endcomment %}

function subToUser(id){
    $.ajax({
        url : "/user/" + id + "/follow/",
        dataType: "json",
        success : function (data) {
                console.log(data);
                $('#user-follower-count-' + id).text( data.follower_count);
                }
        });
    };

{% comment %} insert Posts {% endcomment %}

function insertPosts(data){
    for (i = 0; i < data.comments.length; i++) {
        console.log('inserting:')
        console.log(data.posts[i])
        post = data.post[i]
        $('#feed').append(`{% include 'elements/rawPost.html' %}`);
    }
}
</script>