<script>

{% comment %} Like Ajax Code {% endcomment %}


        function AjaxLikePost(id){
        $.ajax({
            url : "/post/" + id + "/like/",
            dataType: "json",
            success : function (data) {
                    $('#post-like-count-' + id).text( data.like_count);
                    }
                });
            };

        function AjaxLikeCom(id){
        $.ajax({
            url : "/comment/" + id + "/like/",
            dataType: "json",
            success : function (data) {
                    $('#com-like-count-' + id).text( data.like_count);
                    }
                });
            };

{% comment %} Sub Ajax Code {% endcomment %}

function subToUser(id){
    $.ajax({
        url : "/user/" + id + "/follow/",
        dataType: "json",
        success : function (data) {
                console.log(data);
                $('#user-follower-count-' + id).text( data.follower_count);
                }
        });
    };

{% comment %} insert Posts {% endcomment %}

function insertPosts(data){
    for (i = 0; i < data.posts.length; i++) {
        console.log('inserting:')
        post = data.posts[i]
        console.log(post)
        $('#feed').append(`{% include 'elements/rawPost.html' %}`);
        if (post.image != null){
            $('.post-image-' + post.id).append(`{% include 'elements/image.html' %}`)
        }
    }
}

{% comment %} insert Comments {% endcomment %}

function updateComments(data){
    if(data.comments.length == 0){
        $('#comments').append("<h4 class='text-center'>no comments yet</h4>");
        commentTree(data);
    } else {
        for (i = 0; i < data.comments.length; i++) {
            console.log('inserting:')
            console.log(data.comments[i])
            comment = data.comments[i]
            $('#comments').append("{% include 'elements/comment.html' %}");
        }
        commentTree(data);
    }
}

function commentTree(data){
    par_com = data.comment_tree.parent_comment
    while (par_com){
        $('.subcontent').prepend("{% include 'elements/commentparent.html' %}");
        console.log('appended ')
        console.log(par_com)
        par_com = par_com.parent_comment;
    }
}
</script>

