<div class="container post border mb-1 mt-2 rounded p-4" style="position: relative;">
    <a href="/post/{{ post.id }}/" class="deco-none"><span class="link-span"></span>    </a>
        
        <div class="container p-0 nav">
            <h1 class="d-inline">{{ post.title }}</h1>
            {% load static %}
            <a href="/user/{{ post.author.user.id }}/" class="btn-overlap ml-auto mr-0 d-inline nav-item deco-none" style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago by {{ post.author }} {% if post.author.user.is_staff %}<img class="icon-s" src="{% static "admin.png" %}" alt="staff">{% endif %}
            <img class="icon rounded-circle" src="/media/{{ post.author.profile_pic.name }}" alt="profile"></a></h1>
        </div>
        
        {% if post.image.name != '' %}
            <img src="/media/{{ post.image.name }}" alt="" style="
            
            width: 100%;
            height: auto;

            ">
        {% endif %}
        <p class="text">{{ post.content|linebreaks }}</p>


        <div class="border-top pt-3">
            <div class="likes d-inline mr-4">
                {% load static %}
                <img id="apireq-{{ post.id }}" class="like-btn btn btn-overlap icon d-inline p-0" src="{% static "like-icon.svg" %}"/>
                <div id="like-count-{{ post.id }}" class="d-inline">{{ post.likes.count }}</div>
            </div>
            <a class="btn-overlap d-inline" href="/post/{{ post.id }}/?intent=comment">
                <img  class="icon comment-btn" src="{% static "comment-icon.svg" %}"/>
            </a>
            <button class="pull-right ml-2 btn-danger btn btn-overlap" data-toggle="modal" data-target="#deleteModal{{ post.id }}">Delete</button>
            <a class="pull-right btn-default border btn btn-overlap" href="/edit_post/{{ post.id }}/">edit</a>
        </div>

    <style>
        a.deco-none:hover {
        color: inherit !important;
        text-decoration: none !important;
    }

    .link-span { 
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
    
        z-index: 1;
    }

    .btn-overlap {
        position: relative;
        z-index: 100;
    }

    .like-btn {
        fill: red;
    }

    </style>

    <script>
        var likeBtn = $('#apireq-{{ post.id }}')
        likeBtn.click( function() {
        $.ajax({
            url : "/post/{{ post.id }}/like/",
            dataType: "json",
            success : function (data) {
                    $('#like-count-{{ post.id }}').text( data.like_count);
                    }
                });
            });
    </script>
</div>

<div class="modal fade" id="deleteModal{{ post.id }}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are sure you want to delete your post</h4>
            </div>
            <div class="modal-body">
                <h5>{{ post.title }}</h5>
                <p>{{ post.content }}...</p>

            </div>
                <div class="modal-footer">
                    <a href="/delete/post/{{ post.id }}" class="mr-auto btn-danger btn">Delete</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

            </div>

    </a>
</div>