<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{% load static %}
              <img src="{% static "icon.png" %}" alt="Icon" class="site-icon"/> <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" href="/discover/">Discover</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed/">Feed</a>
      </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item p-0 ml-lg-auto mr-0">
          <a class="nav-link p-0" href="/profile">{{ user }}
          <img src="/media/{{ user.profile.profile_pic.name }}" class="d-none d-lg-inline rounded-circle icon-m" alt="profile_pic">
          </a>
        </li>
        {% else %}
        <li class="nav-item ml-lg-auto mr-0">
          <a class="nav-link" href="/signup">Signup</a>
          </li>
        <li class="nav-item mr-0">
          <a class="nav-link" href="/login">Login</a>
          </li>
        {% endif %}

    </ul>
  </div>
</nav>

<style>

  .site-icon {
  display: block;
  max-width: auto;
  height: 30px;
}

</style>