<div class="container post border mb-1 mt-2 rounded p-4" style="position: relative;">
    <a href="/post/{{ post.id }}/" class="deco-none"><span class="link-span"></span>    </a>
        
        <div class="container p-0 nav">
            <h1 class="d-inline">{{ post.title }}</h1>
            {% load static %}
            <i class="ml-auto mr-0 d-inline nav-item" style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago by {{ post.author }} {% if post.author.is_staff %}<img class="icon-s" src="{% static "admin.png" %}" alt="staff">{% endif %}
            <img class="icon rounded-circle" src="/media/{{ post.author.profile.profile_pic.name }}" alt="profile"></i></h1>
        </div>
        
        {% if post.image.name != '' %}
            <img src="/media/{{ post.image.name }}" alt="" style="
            
            width: 100%;
            height: auto;

            ">
        {% endif %}
        <p class="text">{{ post.content }}</p>

    <style>
        a.deco-none {
        color: inherit !important;
        text-decoration: none !important;
    }

    .link-span { 
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
    
        z-index: 1;
    }
    </style>
</div>