<div class="container post border mb-1 mt-2 rounded p-4" style="position: relative;">
    <a href="/post/` + post.id + `/" class="deco-none"><span class="link-span"></span>    </a>
        
        <div class="container p-0 nav">
            <h1 class="d-inline">` + post.title + `</h1>
            {% load static %}
            <a href="/user/` + post.author.user + `/" class="btn-overlap ml-auto mr-0 d-inline nav-item deco-none" style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago by ` + post.author.nickname + `  
            <img class="icon rounded-circle" src="` + post.author.profile_pic + `" alt="profile"></i></h1>
            </a>
        </div>
        
        <div class="post-image-` + post.id + `"></div>
        
        <p class="text">` + post.content + `</p>


        <div class="border-top p-3">
            <button onclick="AjaxLikePost(` + post.id + `)" class="btn likes d-inline mr-4">
                <img id="apireq-` + post.id + `" style="fill: red;" class="like-btn btn btn-overlap icon d-inline p-0" src="{% static "like-icon.svg" %}"/>
                <div id="post-like-count-` + post.id + `" class="d-inline">` + post.likes + `</div>
            </button>
            <a class="btn-overlap d-inline" id="com-post-btn" href="/post/` + post.id + `/?intent=comment">
                <img  class="icon" src="{% static "comment-icon.svg" %}"/>
            </a>
        </div>
</div>