{% extends 'base.html' %}

{% block content %}
<div id="feed">

</div>


{% endblock content %}

{% block js %}

<script>


    $( '.feed' ).ready(function() {
        var loadedPosts=[]
        var token = '{{ csrf_token }}';
        $.ajax({
            headers: { "X-CSRFToken": token },
            method: 'POST',
            data: { 
                'loadedPosts': loadedPosts
             },
            url : "/api/personalFeed/posts/",
            dataType: "json",
            success : function (data) {
                console.log('loading the next 25 posts after submit', data);
                insertPosts(data);
            }
        });
    });

</script>

{% endblock js %}