{% extends 'base.html' %}

{% block content %}

<h1> this is profile</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Profile Info
      <div class="container">
      
        <h3>{{ request.user.User_Profile.nickname }}</h3>

      </div>
    </div>
    <div class="col-lg">
    my posts
  {% for post in feed %}
  
    <div class="container post border mb-1 mt-2 rounded">
      <h1>{{ post.title }}<i style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago     {{ post.author }}</i></h1>
      {% if post.image.name != '' %}
      <img src="/media/{{ post.image.name }}" alt="" style="
      
      width: 100%;
      height: auto;

      ">
      {% endif %}
      <p class="text">{{ post.content }}</p>
    </div>

  {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}