{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card mt-3">
        <div class="card-header">
            <h1>{{ post.title }} <i style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago by   {{ post.author }}</i></h1>
        </div>
        <div class="card-body">
            {% if post.image.name != '' %}
            <img src="/media/{{ post.image.name }}" alt="picture">
            {% endif %}
            <p>{{ post.content }}</p>
        </div>
    </div>

    <div class="mb-3">
        <form action="/{{ request.get_full_path }}/" method="post" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_table }}
                <button type="submit" value="Submit" class="btn btn-success mt-3">comment</button>
            </div>
        </form>
    </div>

    <div class="likes">
        <button class="apireq btn">Like</button>
        <div id="like-count-{{ post.id }}">{{ post.likes.count }}</div>
    </div>

</div>

{% endblock content %}

{% block js %}
<script>
    $('.apireq').click( function() {
    $.ajax({
             url : "{{ request.url_full_path }}like/",
             dataType: "json",
             success : function (data) {
                      $('#like-count-{{ post.id }}').text( data.like_count);
                    }
                 });
             });
</script>
{% endblock js %}