{% extends 'base.html' %}

{% block content %}

<div class="container post border mb-1 mt-2 rounded p-4" style="position: relative;">
        
        <div class="container p-0 nav">
            <h1 class="d-inline">{{ post.title }}</h1>
            {% load static %}
            <a href="/user/{{ post.author.user.id }}/" class="btn-overlap ml-auto mr-0 d-inline nav-item deco-none" style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago by {{ post.author }} {% if post.author.is_staff %}<img class="icon-s" src="{% static "admin.png" %}" alt="staff">{% endif %}
            <img class="icon rounded-circle" src="/media/{{ post.author.profile_pic.name }}" alt="profile"></i></h1>
            </a>
        </div>
        
        {% if post.image.name != '' %}
            <img src="/media/{{ post.image.name }}" alt="" style="
            
            width: 100%;
            height: auto;

            ">
        {% endif %}

        <p class="text">{{ post.content|linebreaks }}</p>
        <div class="border-top p-3">
            <button onclick="AjaxLikePost({{ post.id }})" class="btn likes d-inline mr-4">
                {% load static %}
                <img id="apireq-{{ post.id }}" class="like-btn btn btn-overlap icon d-inline p-0" src="{% static "like-icon.svg" %}"/>
                <div id="post-like-count-{{ post.id }}" class="d-inline">{{ post.likes.count }}</div>
            </button>
            <a class="btn-overlap d-inline" id="com-post-btn">
                <img  class="icon" src="{% static "comment-icon.svg" %}"/>
            </a>
        </div>
        
        <div class="container mb-3" id="com-form">
                <label for="id_comment">Your Comment</label>
                <textarea name="comment" cols="40" rows="10" placeholder="tell the world!" class="form-control m-1 form-control" required="" id="id_comment" wfd-id="21" spellcheck="false"></textarea>
                <button class="btn btn-success" id="com-submit">comment</button>
        </div>

        <div class="card" id="comments">
            <div class="card-header">
                <h5>Comments</h4>
            </div>
        </div>


    <script>

$( document ).ready(function() {
    $.ajax({
        url : "/api/post/{{ post.id }}/comments/",
        dataType: "json",
        success : function(data){
            console.log('site loaded')
            console.log('first comment insert')
            updateComments(data)
        }
    });
});

const urlParams = new URLSearchParams(window.location.search);
const intent = urlParams.get('intent');

if (intent != 'comment'){
    $('#com-form').toggle();
    $('#id_comment').focus();
}

var comBtn = $('#com-post-btn');
comBtn.click( function() {
    $('#com-form').toggle();
    console.log('clicked');
});

var token = '{{ csrf_token }}';
var comSub = $('#com-submit');
var comCont = $('#id_comment').val();
comSub.click( function() {
    var comCont = $('#id_comment').val();
    $.ajax({
        headers: { "X-CSRFToken": token },
        method: 'POST',
        data: { 'comment': comCont },
        url : "comment/",
        dataType: "json",
        success : function (data) {
            console.log('updating comments after submit')
            $('#com-form').toggle();
            $('#comments').empty();
            updateComments(data);
        }
    });
});

    </script>
</div>
{% endblock content %}