{% extends 'base.html' %}

{% block content %}
<div class="container post border mb-1 mt-2 rounded p-4" style="position: relative;">
    <a href="/post/{{ comment.post.id }}/" class="deco-none"><span class="link-span"></span>    </a>
        
        <div class="container p-0 nav">
            <h1 class="d-inline">{{ comment.post.title }}</h1>
            {% load static %}
            <a href="/user/{{ comment.post.author.user.id }}/" class="btn-overlap ml-auto mr-0 d-inline nav-item deco-none" style="font-size: 10px; color: grey;">{{ comment.post.date|timesince }} ago by {{ comment.post.author }} {% if comment.post.author.user.is_staff %}<img class="icon-s" src="{% static "admin.png" %}" alt="staff">{% endif %}
            <img class="icon rounded-circle" src="/media/{{ comment.post.author.profile_pic.name }}" alt="profile"></i></h1>
            </a>
        </div>
        
        {% if post.image.name != '' %}
            <img src="/media/{{ comment.post.image.name }}" alt="" style="
            
            width: 100%;
            height: auto;

            ">
        {% endif %}
        <p class="text">{{ comment.post.content|linebreaks }}</p>
        <div class="border-top pt-3">
            <button class="likes d-inline mr-4 btn" onclick="AjaxLikePost({{ comment.post.id }})">
                {% load static %}
                <img class="like-btn btn btn-overlap icon d-inline p-0" src="{% static "like-icon.svg" %}"/>
                <div id="post-like-count-{{ comment.post.id }}" class="d-inline">{{ comment.post.likes.count }}</div>
            </button>
            <a class="btn-overlap d-inline" href="/post/{{ comment.post.id }}/?intent=comment">
                <img  class="icon" src="{% static "comment-icon.svg" %}"/>
            </a>
        </div>

<div class="container comment border mb-1 mt-2 rounded p-4 btn-overlap" style="position: relative;">
        
        <div class="container p-0 nav">
            {% load static %}
            <a href="/user/{{ comment.author.user.id }}/" class="btn-overlap ml-auto mr-0 d-inline nav-item deco-none" style="font-size: 10px; color: grey;">{{ comment.date|timesince }} ago by {{ comment.author }} {% if comment.author.is_staff %}<img class="icon-s" src="{% static "admin.png" %}" alt="staff">{% endif %}
            <img class="icon rounded-circle" src="/media/{{ comment.author.profile_pic.name }}" alt="profile"></i></h1>
            </a>
        </div>

        <h4 class="text">{{ comment.content|linebreaks }}</h4>
        <div class="border-top p-3">
            <button class="likes d-inline mr-4 btn" onclick="AjaxLikeCom({{ comment.id }})">
                {% load static %}
                <img id="apireq-{{ comment.id }}" class="like-btn btn btn-overlap icon d-inline p-0" src="{% static "like-icon.svg" %}"/>
                <div id="com-like-count-{{ comment.id }}" class="d-inline">{{ comment.likes.count }}</div>
            </button>
            <a class="btn-overlap d-inline" id="com-comment-btn">
                <img  class="icon" src="{% static "comment-icon.svg" %}"/>
            </a>
        </div>
        
        <div class="container mb-3" id="com-form">
                <label for="id_comment">Your Comment</label>
                <textarea name="comment" cols="40" rows="10" placeholder="tell the world!" class="form-control m-1 form-control" required="" id="id_comment" wfd-id="21" spellcheck="false"></textarea>
                <button class="btn btn-success" id="com-submit">comment</button>
        </div>

        <div class="card" id="comments">
            <div class="card-header">
                <h5>Comments</h4>
            </div>
        </div>

    <script>
function updateComments(data){
    for (i = 0; i < data.comments.length; i++) {
        console.log('inserting:')
        console.log(data.comments[i])
        comment = data.comments[i]
        $('#comments').append("{% include 'elements/comment.html' %}");
    }
}

$( document ).ready(function() {
    $.ajax({
        url : "/api/comment/{{ comment.id }}/comments/",
        dataType: "json",
        success : function(data){
            console.log('site loaded')
            console.log('first comment insert')
            updateComments(data)
        }
    });
});

const urlParams = new URLSearchParams(window.location.search);
const intent = urlParams.get('intent');

if (intent != 'comment'){
    $('#com-form').toggle();
    $('#id_comment').focus();
}

var comBtn = $('#com-comment-btn');
comBtn.click( function() {
    $('#com-form').toggle();
    console.log('clicked');
});

var token = '{{ csrf_token }}';
var comSub = $('#com-submit');
var comCont = $('#id_comment').val();
comSub.click( function() {
    var comCont = $('#id_comment').val();
    $.ajax({
        headers: { "X-CSRFToken": token },
        method: 'POST',
        data: { 'comment': comCont },
        url : "comment/",
        dataType: "json",
        success : function (data) {
            console.log('updating comments after submit')
            $('#com-form').toggle();
            $('#comments').empty();
            updateComments(data);
        }
    });
});

    </script>
</div>
{% endblock content %}