{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container card mt-3 p-4">
        <h1>My Profile</h1>        
        <h3>
          {{ request.user.profile.nickname }}
        </h3>
        
        <p class="text-secondary">{{ request.user }}</p>
        <a class="btn-danger btn" href="/logout/">Logout</a>
      </div>
    </div>
    <div class="col-lg">
        <h1>My Posts</h1>        
  {% for post in feed %}
  
    <div class="container post border mb-1 mt-2 rounded">
      <h1>{{ post.title }}<i style="font-size: 10px; color: grey;">{{ post.date|timesince }} ago     {{ post.author }}</i></h1>
      {% if post.image.name != '' %}
      <img src="/media/{{ post.image.name }}" alt="" style="
      
      width: 100%;
      height: auto;

      ">
      {% endif %}
      <p class="text">{{ post.content }}</p>
    </div>

  {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}